<% layout('/boilerplate/main.ejs') -%> 

<div class="container my-3">
    <div class="col-md-6 offset-md-3">
        <h2 class="text-primary">LogIn User</h2>
    <form action="/users/login" class="needs-validation" method="post" novalidate>
        <div class="mb-3">
            <label for="username" class="form-label">UserName</label>
            <input placeholder="Enter Your Username" type="text" name="username" id="username" class="form-control" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input placeholder="Enter Password" type="password" name="password" id="password" class="form-control" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <button class="btn btn-success">LogIn User</button>
    </form>
    <div class="mt-3">Not Have an Account <a href="/users/register">Create New</a></div>
</div>
</div>

<script src="/js/validateForm.js"></script>

<!-- Prevent form resubmission here -->
<%- include('../partials/preventResubmit.ejs') %> 

