<% layout('/boilerplate/main.ejs') -%> 

<div class="container my-3">
    <div class="col-md-6 offset-md-3">
        <h2 class="text-primary">Register User</h2>
    <form action="/users/register" class="needs-validation" method="post" novalidate>
        <div class="mb-3">
            <label for="fullName" class="form-label">Full Name</label>
            <input placeholder="Your Full Name" type="text" name="fullName" id="fullName" class="form-control" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input placeholder="Enter Your Email" type="email" name="email" id="email" class="form-control" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">UserName</label>
            <input placeholder="UserName Should be unique" type="text" name="username" id="username" class="form-control" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <h5>Mention Location</h5>
        <div class="mb-3">
            <label for="country" class="form-label">Your Country</label>
            <select type="text" name="userAddress[country]" id="country" class="form-select" required>
                <option hidden selected disabled value="">Select Country</option>
                <% for(let element of allCountryArray){ %>
                    <option value="<%= element.name %>"> <%= element.name %>  </option>
                <% } %> 
            </select>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label for="state" class="form-label">Your State</label>
            <select type="text" name="userAddress[state]"  id="state" class="form-select" required>
                <option hidden selected disabled>Select Your State</option>
            </select>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label for="city" class="form-label">Your City</label>
            <select type="text"  name="userAddress[city]" id="city" class="form-select" required>
                <option hidden selected disabled>Select Your City</option>               
            </select>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label for="street" class="form-label">Your Street</label>
            <input placeholder="Street Address" type="text" name="userAddress[street]" id="street" class="form-control">
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <h5>Enter Strong Password</h5>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input placeholder="Enter Password" type="password" name="password" id="password" class="form-control" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <button class="btn btn-success">Register User</button>
    </form>
    </div>
</div>

<script src="/js/validateForm.js"></script>
<script src="/js/findLocationBundle.js"></script>

    <!-- Prevent form resubmission here -->
    <%- include('../partials/preventResubmit.ejs') %> 

